<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,96}}</string>
                <key>sourceSize</key>
                <string>{50,108}</string>
            </dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,102}}</string>
                <key>sourceSize</key>
                <string>{50,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5b73574e97350012b5dfa3b092c2fe1:459898ea3e1de5c3acd7de22979a73e4:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
