<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{32,35}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{32,35}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>ex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>ex3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>ex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>ex5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>ex6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,36},{32,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{32,29}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ex.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24caccfabb6c59b7260aaaa9170093c2:ef2486d93f3c405493805f4006100736:93548130ecdbf676bc7e08af55b9cfa1$</string>
            <key>textureFileName</key>
            <string>ex.png</string>
        </dict>
    </dict>
</plist>
